#app
{
    position: relative;
}

svg#Logo
{
    height: 37px;
}

.sr-icon,
.sr-icon img
{
    max-height: 37px;
}

.sr-icon
{
    margin-right: 0.75rem;
}

.itf-date
{
    z-index: 5;
    opacity: 0.8;
}

.itf-title
{
    z-index: 6;
    opacity: 0.8;
}

.itf-sort
{
    min-width: 10rem !important;
    width: 10rem !important;
}

.itf-count
{
    min-width: 6rem !important;
    width: 6rem !important;
}

/* Menu */
.ui.main.menu
{
    position: absolute;
    top: calc(100% - 14px);
    left: 2rem;
    min-width: 650px;
    z-index: 20;
}

.scrollable.column
{
    overflow-y: auto;
    max-height: 60vh;
}

input[type="range"]
{
    vertical-align: middle;
}

.info-link,
.info-link:active,
.info-link:hover,
.info-link:visited
{
    color: white;
}

#options
{
    background-color: #bacfe6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

#options .field
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    margin: 0 1.5rem;
}

#options .field input[type=checkbox]
{
    margin-right: 0.5rem;
}

#options .field input[type=range]
{
    margin: 0 0.5rem;
}

#options > *:not(:nth-child(1)):not(:nth-child(2))
{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#results
{
    padding: 0 1rem;
}

#results .ui.card
{
    min-height: 50px;
}

.disabled.card
{
    opacity: 0.3;
}

.disabled.card:hover
{
    opacity: 0.9;
}

/* Semantic fixes */
div.visible.menu
{
    z-index: 20;
}
.ui.floating.label
{
    z-index: 8;
}
.dimmed.item > *
{
    color: #777;
}
.right.aligned.item
{
    text-align: right;
    width: 100%;
}
.ui.ribbon.label
{
    left: -1rem;
    margin-right: -1.2em;
    padding-left: 1rem;
    padding-right: 1.2em;
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 5;
    top: -1.85rem;
}

#results
{
    min-height: 90vh;
}

/* Angular helpers */
a[ng-click]
{
    cursor: pointer;
}

/* Hide arrows on input[type=number] */
input[type='number']
{
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}

#options .only-mobile
{
    display: none;
}

#topButton
{
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #CCC;
    border-radius: 40px;
    font-size: 1.24rem;
    padding-left: 3px;
    margin: 0;
    z-index: 999;
    box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.3);
    cursor: pointer;
}

#topButton.flyIn
{
    top: 10px;
    transition: top 300ms ease-in-out;
}

#topButton:not(.flyIn)
{
    top: -60px;
    transition: top 300ms ease-in-out;
}


#topButton:hover
{
    background-color: #1678c2;
    color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.18);
}

.scroll-msg p:last-child
{
    margin-bottom: 3rem !important;
    padding-bottom: 3rem !important;
}

/* Mobile stuff */
@media screen and (max-width: 767px)
{
    #options .no-mobile
    {
        display: none;
    }

    #options .only-mobile
    {
        display: block;
    }
}
