#app
{
    position: relative;
}

svg#Logo
{
    height: 37px;
}

.itf-date
{
    z-index: 5;
    opacity: 0.8;
}

.itf-title
{
    z-index: 6;
    opacity: 0.8;
}

.itf-sort
{
    min-width: 10rem !important;
    width: 10rem !important;
}

.itf-count
{
    min-width: 6rem !important;
    width: 6rem !important;
}

/* Menu */
.ui.main.menu
{
    position: absolute;
    top: calc(100% - 14px);
    left: 2rem;
    min-width: 650px;
    z-index: 20;
}

input[type="range"]
{
    vertical-align: middle;
}

.info-link,
.info-link:active,
.info-link:hover,
.info-link:visited
{
    color: white;
}

#options
{
    background-color: #bacfe6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

#options .field
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    margin: 0 1.5rem;
}

#options .field input[type=checkbox]
{
    margin-right: 0.5rem;
}

#options .field input[type=range]
{
    margin: 0 0.5rem;
}

#options > *:not(:nth-child(1)):not(:nth-child(2))
{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#results
{
    padding: 0 1rem;
}

.disabled.card
{
    opacity: 0.3;
}

.disabled.card:hover
{
    opacity: 0.9;
}

/* Semantic fixes */
div.visible.menu
{
    z-index: 20;
}
.ui.floating.label
{
    z-index: 8;
}
.dimmed.item > *
{
    color: #777;
}
.right.aligned.item
{
    text-align: right;
    width: 100%;
}

/* Angular helpers */
a[ng-click]
{
    cursor: pointer;
}

/* Hide arrows on input[type=number] */
input[type='number']
{
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}


#options .only-mobile
{
    display: none;
}
/* Mobile stuff */
@media screen and (max-width: 767px)
{
    #options .no-mobile
    {
        display: none;
    }

    #options .only-mobile
    {
        display: block;
    }
}
