<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" integrity="sha256-/mC8AIsSmTcTtaf8vgnfbZXZLYhJCd0b9If/M0Y5nDw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css?v=90a11287-d6c0-4baa-a9ef-f6bd76865a67" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body ng-app="imagetilefun">
    <a id="top"></a>
    <div id="app" ng-controller="MainController as vm">
        <div id="topButton" ng-click="vm.toTop()" ng-class="{flyIn: vm.notOnTop}" title="Scroll up to the top">
            <i class="up chevron icon"></i>
        </div>
        <div id="options" class="ui form" ng-click="vm.closeMenu($event)">
            <div class="field">
                <div ng-if="vm.subredditInfo && vm.subredditInfo.icon" class="sr-icon">
                    <img ng-src="{{vm.subredditInfo.icon}}" class="ui circular image" alt="Subreddit icon" title="/r/{{ vm.subredditInfo.name }} - {{vm.subredditInfo.title}}" />
                </div>
                            
                <svg version="1.1" id="Logo" class="ui image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 201.333 133.333" enable-background="new 0 0 201.333 133.333" xml:space="preserve">
                    <g>
                        <rect x="-7.671" y="23.604" fill="none" width="213.56" height="117.796"/>
                        <path ng-attr-fill="{{ vm.color }}" d="M24.387,23.603h17.712v87.822H24.387V23.603z"/>
                        <path ng-attr-fill="{{ vm.color }}" d="M114.545,38.116H95.357v73.308H77.645V38.116H58.457V23.603h56.088V38.116z"/>
                        <path ng-attr-fill="{{ vm.color }}"d="M179.119,23.603v14.514h-31.364V58.78h29.52v14.514h-29.52v38.13h-17.712V23.603H179.119z"/>
                    </g>
                    <line fill="none" ng-attr-stroke="{{ vm.color }}" stroke-width="13" stroke-linecap="square" stroke-miterlimit="10" x1="8.21" y1="8.044" x2="8.21" y2="119.061"/>
                    <line fill="none" ng-attr-stroke="{{ vm.color }}" stroke-width="13" stroke-linecap="square" stroke-miterlimit="10" x1="194.239" y1="126.061" x2="136.755" y2="126.061"/>
                    <line fill="none" ng-attr-stroke="{{ vm.color }}" stroke-width="13" stroke-linecap="square" stroke-miterlimit="10" x1="194.239" y1="125.061" x2="194.239" y2="14.044"/>
                    <line fill="none" ng-attr-stroke="{{ vm.color }}" stroke-width="13" stroke-linecap="square" stroke-miterlimit="10" x1="194.239" y1="8.044" x2="136.755" y2="8.044"/>
                    <line fill="none" ng-attr-stroke="{{ vm.color }}" stroke-width="13" stroke-linecap="square" stroke-miterlimit="10" x1="65.693" y1="125.84" x2="8.21" y2="125.84"/>
                    <line fill="none" ng-attr-stroke="{{ vm.color }}" stroke-width="13" stroke-linecap="square" stroke-miterlimit="10" x1="65.693" y1="7.824" x2="8.21" y2="7.824"/>
                </svg>
            </div>

            <div class="field">
                <button class="ui large primary circular icon button" ng-click="vm.menuToggle($event)">
                    <i class="bars icon" ng-show="!vm.isMenuOpen"></i>
                    <i class="up arrow icon" ng-show="vm.isMenuOpen"></i>
                </button>
                <div class="ui vertical main menu" ng-show="vm.isMenuOpen">
                    <div class="ui two column internally celled stackable grid">
                        <div class="row">
                            <div class="column">
                                <div class="item">
                                    <input id="showTitles" type="checkbox" ng-model="vm.showTitles" ng-change="vm.basicChangedHandler()" />
                                    <label for="showTitles">Show Titles</label>
                                </div>
                                <div class="item">
                                    <input id="showDates" type="checkbox" ng-model="vm.showDates" ng-change="vm.basicChangedHandler()" />
                                    <label for="showDates">Show Date/Comments</label>
                                </div>
                                <div class="item">
                                    <input id="showPostNum" type="checkbox" ng-model="vm.showPostNum" ng-change="vm.basicChangedHandler()" />
                                    <label for="showPostNum">Show Post #s</label>
                                </div>
                                <div class="item">
                                    <input id="showUpvotes" type="checkbox" ng-model="vm.showUpvotes" ng-change="vm.basicChangedHandler()" />
                                    <label for="showUpvotes">Show Upvotes <i class="arrow alternate circle up outline icon"></i></label>
                                </div>
                                <div class="item">
                                    <input id="showSeenFilter" type="checkbox" ng-model="vm.showSeenFilter" ng-change="vm.basicChangedHandler()" />
                                    <label for="showSeenFilter">Dim "Seen" posts ({{ vm.seenCount.toLocaleString() }}) &ndash; <a ng-click="vm.resetSeen()">reset</a></label>
                                </div>
                                <div class="item no-mobile">
                                    <label for="cardsPerRow">Cards per row</label>
                                    <input id="cardsPerRow" type="range" min="3" max="12" ng-change="vm.updateClassName(vm.cardsPerRow)" ng-model="vm.cardsPerRow" /> <span>{{vm.cardsPerRow}}</span>
                                </div>
                                <div class="item only-mobile">
                                    <label><em>Cards per row unavailable on mobile</em></label>
                                </div>
                                <div class="item">
                                    <input id="showImages" type="checkbox" ng-model="vm.showImages" ng-change="vm.basicChangedHandler()" />
                                    <label for="showImages">Show Images</label>
                                </div>
                                <div class="item">
                                    <input id="showGifs" type="checkbox" ng-model="vm.showGifs" ng-change="vm.basicChangedHandler()" />
                                    <label for="showGifs">Show GIFs/GIFVs</label>
                                </div>
                                <div class="item no-mobile">
                                    <label for="cardsPerRow">Load delay</label>
                                    <input id="cardsPerRow" type="range" min="100" max="3000" step="100" ng-change="vm.basicChangedHandler()" ng-model="vm.imageDelay" style="width: 110px;" /> <span>{{vm.imageDelay}} ms</span>
                                </div>
                                <div class="dimmed right aligned item">
                                    <small><span title="Released 2021-06-22">v1.6</span> &mdash; Open source on <a href="https://github.com/qjake/imagetilefun" target="_blank"><i class="large fitted github icon"></i> GitHub</a></small>
                                </div>
                            </div>
                            <div class="scrollable column">
                                <div class="header" ng-show="vm.subredditInfo == null">
                                    <em>Subreddit info will appear here once loaded.</em>
                                </div>
                                <div class="content" ng-show="vm.subredditInfo != null">
                                    <div class="large header">
                                        <h2>/r/{{ vm.subredditInfo.name }}</h2>
                                        <p>{{ vm.subredditInfo.title }}</p>
                                    </div>
                                    <div class="ui horizontal divider header">Description</div>
                                    <div class="description" ng-if="!vm.showExtDesc" ng-bind-html="vm.subredditInfo.description | trim: 310 | markdown"></div>
                                    <div class="description" ng-if="vm.showExtDesc" ng-bind-html="vm.subredditInfo.description | markdown"></div>
                                    <a ng-if="!vm.showExtDesc" ng-click="vm.showMoreDesc($event)">(more)</a>
                                    <a ng-if="vm.showExtDesc" ng-click="vm.showLessDesc($event)">(less)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="field">
                <input type="text" placeholder="aww, cats, puppies, ..." ng-keypress="vm.loadKeyPressed($event)" ng-model="vm.subreddit" />
                <select class="ui itf-sort select" ng-model="vm.sortOption" ng-change="vm.basicChangedHandler()">
                    <option value="_" selected="selected">Hot (default)</option>
                    <option value="new">New</option>
                    <option value="rising">Rising</option>
                    <option value="controversial">Controversial</option>
                    <option value="top">Top</option>
                </select>
            </div>
            <div class="field">
                <select class="ui itf-count select" ng-model="vm.postCount" ng-change="vm.basicChangedHandler()">
                    <option value="10">10</option>
                    <option value="25" selected="selected">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                </select>
                <button type="button" class="ui right attached icon labeled primary button" ng-class="{'disabled': vm.mainLoading}" ng-click="vm.load()">
                    <i class="right arrow icon"></i>
                    Go
                </button>        
            </div>
            <div class="field">
                <select class="ui non-stick select" ng-model="vm.selectedFavorite" ng-options="f.name as (f.name + ' &ndash; ' + f.desc) for f in vm.favorites track by f.name" ng-change="vm.favoriteChanged()">
                    <option value="">- load a favorite -</option>
                </select>
                <button type="button" class="ui right attached green icon labeled button" ng-click="vm.addFavorite()" ng-show="!vm.isCurrentFavorite" ng-disabled="vm.mainLoading">
                    <i class="star plus icon"></i>
                    Favorite
                </button>
                <button type="button" class="ui right attached red icon labeled button" ng-click="vm.removeFavorite()" ng-show="vm.isCurrentFavorite" ng-disabled="vm.mainLoading">
                    <i class="star outline icon"></i>
                    Favorite
                </button>
            </div>
        </div>
        <div id="results" class="ui stackable six column grid" ng-click="vm.closeMenu($event)">
            <div class="middle aligned column" ng-repeat="card in vm.images" ng-if="vm.showClass(card.metadata.class)">
                <div class="ui fluid card" ng-class="{'disabled': card.seen && vm.showSeenFilter}">
                    <div class="ui inverted active dimmer" ng-show="card.isLoading">
                        <div class="ui loader"></div>
                    </div>
                    <div class="ui blue floating circular label" ng-show="vm.showPostNum">{{card.postNum}}</div>
                    <div class="ui orange ribbon label" ng-show="vm.showUpvotes"><i class="up arrow icon"></i> {{card.upvotes}}</div>
                    <div class="ui grey bottom attached mini itf-date label" title="{{card.datePostedFriendly}}" ng-show="vm.showDates">
                        <div class="ui right floated content">
                            <a class="info-link" ng-href="{{card.permalink}}" target="_blank">{{card.comments}} c</a>
                            | <a class="info-link" ng-href="https://www.google.com/searchbyimage?image_url={{card.imageUrl}}&safe=off" title="Google Reverse Image Search" target="_blank">gi</a>
                            | <a class="info-link" ng-href="https://yandex.com/images/search?rpt=imageview&img_url={{card.imageUrl}}" title="Yandex Image Search" target="_blank">ydx</a>
                        </div>
                        {{card.datePostedAgo}}
                    </div>
                    <div class="ui top attached small itf-title label" ng-show="vm.showTitles">
                        {{card.title}}
                    </div>  
                    <div class="image">
                        <a target="_blank" href="{{card.imageUrl}}">
                            <img class="ui image" ng-attr-data-sourceurl="{{card.metadata.updatedImageUrl ? card.metadata.updatedImageUrl : card.imageUrl}}" ng-if="card.metadata.displayAs == 'image'" />
                            <video class="ui image" ng-if="card.metadata.displayAs == 'video'" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
                                <source ng-src="{{card.metadata.updatedImageUrl ? card.metadata.updatedImageUrl : card.imageUrl}}" type="video/mp4" />
                            </video>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!vm.mainLoading && vm.images.length && vm.next" class="ui centered center aligned massive scroll-msg basic segment">
            <p><i class="huge green down arrow icon"></i></p>
            <p>Scroll down to load more...</p>
        </div>
        <div class="ui active centered huge inline loader" ng-show="vm.mainLoading" style="min-height: 150px; margin-top: 5rem;"></div>
        <div ng-show="vm.images.length && !vm.next" class="ui center aligned header" style="margin-top: 4rem; margin-bottom: 5rem;">
            <p><em>This is the end! You've gone too far!</em></p>
            <p><small><em>(Reddit doesn't have any more posts.)</em></small></p>
            <p><a href="#top">Start Over</a></p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PreloadJS/1.0.1/preloadjs.min.js" integrity="sha256-ZZq6dK95V2jZ2NLtaI5JzV9H2UJdWhYwMpqEV1m0WR0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.js" integrity="sha256-8q4KkJo+qo008C39XicdTM0vprJWCicBwOF+Z58XNHM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" integrity="sha256-9YAuB2VnFZNJ+lKfpaQ3dKQT9/C0j3VUla76hHbiVF8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js" integrity="sha256-FMQoXFhCWeNb139Wa9Z2I0UjqDeKKDYY+6PLkWv4qco=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" integrity="sha256-zBy1l2WBAh2vPF8rnjFMUXujsfkKjya0Jy5j6yKj0+Q=" crossorigin="anonymous"></script>
    <script src="app/app.js?v=90a11287-d6c0-4baa-a9ef-f6bd76865a67" defer></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-115800294-1');</script>
</body>
</html>